[Unit]
Description=Simple Sinatra App %i
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm --name app%i --net sinatra --log-driver json-file --log-opt max-size=10m simple-sinatra-app

[Install]
WantedBy=multi-user.target
