[Unit]
Description=Load Balancer for Sinatra
Requires=docker.service sinatra@.service
After=docker.service sinatra@.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker run --rm --name lbtest --net sinatra -v /var/nginx.conf:/etc/nginx/nginx.conf nginx nginx -t
ExecStart=/usr/bin/docker run --rm --name lb --net sinatra --log-driver json-file --log-opt max-size=10m -v /var/nginx.conf:/etc/nginx/nginx.conf -p 80:80 nginx

[Install]
WantedBy=multi-user.target
